### Rules for naming the variables
### Variable can have alphabats[A-Z,a-z]
### Variable name should not start with a number
### Variables do not allow spi characters other than underscore
### case sensitive

In [1]:
Books=["DS with python","BA with python"]

In [2]:
Books

['DS with python', 'BA with python']

In [3]:
books ### Python is case sensitive

NameError: name 'books' is not defined

In [4]:
2books = ["DS with python", "BA with python"]
2books

SyntaxError: invalid syntax (1989258456.py, line 1)

In [5]:
b2ooks=["DS with python", "BA with python"]
b2ooks

['DS with python', 'BA with python']

In [6]:
books+lists=["DS with python", "BA with python"]
books+lists

SyntaxError: cannot assign to operator (2837770216.py, line 1)

In [7]:
books_lists=["DS with python", "BA with python"]
books_lists

['DS with python', 'BA with python']

In [8]:
_books=["DS with python", "BA with python"]
_books

['DS with python', 'BA with python']

### Data Structures
### list -> elements are seperated by comma and enclosed with square bracket
### Heterogenous
### list can be retrived using index
### mutable -> can make the changes after creating the list

### Types of Analytics:
### 1) Descriptive -> past
### 2) Diagnostic -> why
### 3) Predictive -> future
### 4) Prescriptive -> solution

In [10]:
sample_list=[1,13.6,"hi",12,1]
sample_list

[1, 13.6, 'hi', 12, 1]

In [11]:
type(sample_list)

list

In [12]:
sample_list[0]

1

In [13]:
sample_list[10]

IndexError: list index out of range

In [14]:
sample_list[-2]

12

In [15]:
sample_list[0]=10

In [16]:
sample_list

[10, 13.6, 'hi', 12, 1]

In [17]:
sample_list[4]="nakul"

In [18]:
sample_list

[10, 13.6, 'hi', 12, 'nakul']

### tuple
### hetrogenous
### paranthesis
### can retrieve data using index
### immutable

In [19]:
sample_tuple=(1,13.6,"hi",12,1)
sample_tuple

(1, 13.6, 'hi', 12, 1)

In [20]:
sample_tuple=1,13.6,"hi",12,1
type(sample_tuple)

tuple

In [21]:
sample_tuple[1]

13.6

In [22]:
sample_tuple[10]

IndexError: tuple index out of range

In [23]:
sample_type[0]=10

NameError: name 'sample_type' is not defined

### Set
### does not allow duplicates
### orderes - first place
### in set,elements can not be retrieved using index
### set is mutable

In [26]:
sample_set={1,13.6,"hi",12,1,127,25,25,"apple","king","ball"}
sample_set

{1, 12, 127, 13.6, 25, 'apple', 'ball', 'hi', 'king'}

In [27]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [28]:
sample_set[0]="hi"

TypeError: 'set' object does not support item assignment

In [29]:
sample_set.add(1000)

In [30]:
sample_set

{1, 1000, 12, 127, 13.6, 25, 'apple', 'ball', 'hi', 'king'}

In [31]:
sample_set.remove("king")

In [32]:
sample_set

{1, 1000, 12, 127, 13.6, 25, 'apple', 'ball', 'hi'}

### Dictionary
### has key-value pair data structure
### key is unique
### values can be duplicated
### value canbe retrieved uing key
### key can not be retrieved using value

In [33]:
sample_dict={1:"apple",2:35.4,3:"data",2:"every",6:35.4,7:35.4,2:"hi"}
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 35.4}

In [34]:
sample_dict[2]

'hi'

In [35]:
sample_dict["apple"]

KeyError: 'apple'

In [36]:
sample_dict[10]="nakul"

In [37]:
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 35.4, 10: 'nakul'}

In [38]:
sample_dict[7]=100

In [39]:
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 100, 10: 'nakul'}